[submodule "vendor/modules/database"]
	path = vendor/modules/database
	url = https://github.com/kohana/database.git
[submodule "vendor/modules/auth"]
	path = vendor/modules/auth
	url = https://github.com/kohana/auth.git
[submodule "vendor/system"]
	path = vendor/system
	url = https://github.com/kohana/core.git
